.main_container {
    display: grid;
    grid-template-columns: 2fr 2fr;

    gap: 10px;

    position: relative;
    justify-items: center;
    left: 200px;
    width: calc(90vw - 200px);
}
  
.main_col {
    padding: 10px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    
}